<div class="header">
  <div class="container" style="display: flex; align-items: center;">
    <div class="logo">
      <a href="/">
        <img src="/images/logo/logo.jpg" alt="The COO Venture" width="75px" height="75px">
      </a>
    </div>
    <div class="site-title" style="margin-left: 15px;">
      <a href="/" style="text-decoration: none;">
        <h1 style="font-size: 24px; margin: 0; color: #E52F27; font-weight: bold;">The COO Venture</h1>
      </a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>
